---
---

<header class="hud">
  <div class="hud__score">Skor<span id="score">0</span></div>
  <button id="restart" class="hud__btn" type="button">Yeniden başla</button>
</header>
<div id="root" class="root"></div>
